
*:focus{
  outline: none;
}
#cards{
    display: inline-flex;
    
    width: 150px;
    
    justify-content: flex-start
}
#cards app-card{
    display:inline-block;
    margin-left: 0px;
}
.infolabel{
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  width: 150px;
  text-align: center;
  background-color: black;
  border: 1px solid;
  border-radius: 4px;

}

#sitoutfoldinfo{
  display: block;
  background-color: black;
  color: white;
  font-size: 33px;
  position: absolute;
  border: 1px solid white;
  top: 40px;
  left: 35px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#name{



}
#amount{



}
#outer{
  
  padding: 10px;
  border-radius: 10px;
}

#outer.turn{
  background-color: rgba(57, 255, 31, 0.41);
  

}
#outer.winner{
  background-color: rgba(175, 157, 0, 0.678);
  

}
#outer.oturn{
  background-color: rgba(117, 238, 147, 0.37);
  padding: 4px;
  margin: 6px;
}

.sitheresitout{
  display: block;
  position: absolute;
  top: 50px;
  left: 30px;
  right: 0px;
  width: 100%;
  bottom: 50px;
  z-index: 100000;
  font-size: 30px;
  border-radius: 150px;
  background-color: black;
  width: 100px;
  height: 100px;
  color: white;
  border: 1px solid black;
}

.sitheresitout:hover{
  background-color: rgb(65, 0, 0);
}
.sitheresitout:active{
  background-color: rgb(143, 0, 0);
  position: relative;
  top: 1;
}

/*

// Container and displays
const container = document.querySelector("body");
let posXDisplay = document.getElementById("posX");
let posYDisplay = document.getElementById("posY");

// On mousemove
container.addEventListener("mousemove", (e)=> {
  // Do math
  xPercent = parseInt(e.pageX / window.innerWidth * 100);
  yPercent = parseInt(e.pageY / window.innerHeight * 100);
  console.log(xPercent, yPercent);
  
});

*/