#cards{
    display: inline-flex;
    position: absolute;
    background-color: DodgerBlue;
    
    width: 10%;
    min-width: 120px;
    justify-content: flex-start
}
#cards app-card{
    display:inline-block;

}

/*

// Container and displays
const container = document.querySelector("body");
let posXDisplay = document.getElementById("posX");
let posYDisplay = document.getElementById("posY");

// On mousemove
container.addEventListener("mousemove", (e)=> {
  // Do math
  xPercent = parseInt(e.pageX / window.innerWidth * 100);
  yPercent = parseInt(e.pageY / window.innerHeight * 100);
  console.log(xPercent, yPercent);
  
});

*/