<div id="outer" [ngClass]="{'winner':playerWon,'turn':playerTurn && !playerWon}" >
    
    <button (click)="sitbtn()" *ngIf="sithere != '' && !playerIsSitting && Player.empty" class="sitheresitout">{{sithere}}</button>
    <div *ngIf="!Player.empty" >
        <div id="cards">
            
            <app-card #cards *ngFor="let c of Player.Cards" [card]="c" [ego]="isEgo"></app-card>
        </div>
         
        <div class="infolabel" id="name">{{name}}</div>
        <div class="infolabel"  id="amount">{{balance}}</div>
        <div class="infolabel" *ngIf="action != ''" id="action">{{action}}</div>
    </div>
</div>