<ul *ngIf="visible == true">
    <li><a [routerLink]="" (click)="grant()">grant admin (shift+g)</a></li>
    <li><a [routerLink]="" (click)="revoke()">revoke admin (shift+r)</a></li>
    <li><a [routerLink]="" (click)="fold()">fold (shift+f)</a></li>
    <li><a [routerLink]="" (click)="kick()">kick (shift+k)</a></li>
    <li><a [routerLink]="" (click)="plus()">$$$ (+)</a></li>
    <li><a [routerLink]="" (click)="minus()">$$$ (-)</a></li>
    <li><a [routerLink]="" (click)="bbplus()">BB+ (shift +)</a></li>
    <li><a [routerLink]="" (click)="bbminus()">BB- (shift -)</a></li>
</ul>