<app-adminwindow [style.transform]="admintransform" [room]="room" #admin></app-adminwindow>

<app-msgdialog #msgbox></app-msgdialog>
<div id="zoom" [style.transform]="zoom">
<div id="area" class="centerhv" >
    <app-dealerbutton [dealer]="room.table.dealerpos"></app-dealerbutton>
    <img id="table" #table alt="table"  src="/assets/img/table.png" />
    <app-communitycards  #cards [cards_data]="room.table.cards_center"></app-communitycards>
    <app-potbetinfo [room]="room"></app-potbetinfo>
    <div id="seats">
        <app-seat #seats  *ngFor="let x of seats" ></app-seat>
    </div>
    
    
</div>
</div>
<app-turnactions [style.transform]="zoom"></app-turnactions>
<app-messagewindow [style.transform]="zoom" [msgnum]="room.msg_cnt" [msg]="room.msg"></app-messagewindow>
<app-menu [style.transform]="zoom" #menu></app-menu>
<app-connectionissues [style.transform]="zoom"></app-connectionissues>