<app-msgdialog #msgbox></app-msgdialog>

<div id="area" class="centerhv" >
    <app-dealerbutton [dealer]="room.table.dealerpos"></app-dealerbutton>
    <img id="table" #table alt="table"  src="/assets/img/table.png" />
    <app-communitycards  #cards [cards_data]="room.table.cards_center"></app-communitycards>
    <app-potbetinfo [room]="room"></app-potbetinfo>
    <div id="seats">
        <app-seat #seats *ngFor="let x of seats" ></app-seat>
    </div>
    
    
</div>

<app-turnactions></app-turnactions>
<app-messagewindow></app-messagewindow>
<app-adminwindow></app-adminwindow>
<app-menu #menu></app-menu>
