
:host{
    background-color: red;  
}
.centerhv {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
#table{
    width: 40%; 
    z-index: 10000;

}
app-seat{
    position: absolute;
    
    
    width:100%;
}
app-seat:nth-child(1){
    position: absolute;
    top:70%;
    left:40%;
    width:100%;
}

