<app-msgdialog #msgbox></app-msgdialog>
<form [formGroup]="form" id="content" (ngSubmit)="submit()">
    <h1>Lobby</h1>
    <div id="">
        <label class="block">Name</label>
        
        <input 
            placeholder="Your name"
            formControlName="name" 
            required 
            minlength="2"
            id="nameinput" 
            type="text" 
            
            
        >
        <div *ngIf="name?.invalid && (name?.dirty || !name?.touched)"
            class="required_info">
            <div *ngIf="name?.errors?.required">
            Name is required.
            </div>
            <div *ngIf="name?.errors?.minlength">
            Name must be at least 2 characters long.
            </div>
            <div *ngIf="name?.errors?.pattern"> 
                Invalid characters
            </div>
        </div>
        
        <div id="radiogroup">
        <input formControlName="newjoin" id="new_rd" name="newjoin" type="radio" value="new">
        <label class="radiolbl" for="new_rd" >New</label> 
        
        <input formControlName="newjoin" id="join_rd" name="newjoin" type="radio" value="join">
        <label class="radiolbl" for="join_rd">Join</label> 
        </div>

        <label *ngIf="join" id="roomidlbl" for="roomid">Room ID</label>
        <input *ngIf="join" formControlName="roomid" id="roomid" type="text">

        <button>Start Game</button>
    </div>

</form >

