<div id="turnactions" *ngIf="visible == true">
 <table>

    <tr id="head">
        <td>take action</td>
        <td>enter</td>
    </tr>
     
    <tr>
         <td>check/call</td>
         <td>space</td>
     </tr>
     <tr>
        <td>raise</td>
        <td>key up/down</td>
     </tr>
     <tr>
        <td>raise more</td>
        <td>shift + key up/down</td>
     </tr>
     
     <tr>
        <td>fold</td>
        <td>f</td>
     </tr>

     <tr>
        <td>all in</td>
        <td>a</td>
     </tr>

     <tr>
        <td>show/hide this menu</td>
        <td>h</td>
     </tr>

 </table>


</div>