#cards{
    display: inline-flex;
    position: absolute;
    display:inline-block;
    margin-left: 3px;
    width: 320px;
    
    justify-content: flex-start;
    left: 140px;
    top:115px;
}


#cards{
    zoom: 0.9;
    transform: scale(.9);
}